.header {
  width: 100%;
  font-weight: 500;
  box-shadow: 0px 0px 25px 5px rgba(black, 0.03);
  @media screen and (max-width: 992px) {
    padding: 10px 0;
  }
}
.login-signup {
  width: 100%;
  height: 20px;
  background-color: #7e33e0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10px;
  color: #fff;
  font-size: 12px;
  a {
    margin: 10px 40px 10px 0;
  }
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  input {
    border: none;
    border: 2px solid #e7e6ef;
    outline: none;
    padding: 5px 10px;
  }

  .header-list {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0d0e43;
    padding: 5px 2px;

    li {
      list-style: none;
      text-decoration: none;
      margin-left: 10px;
      &:nth-child(1) {
        color: #fb2e86;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
