.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;

    .container {
        width: 1120px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 40px;
    }

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 992px) {
        &-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width: 992px) {
        .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &-left {
        width: 40%;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: 992px) {
        &-left {
            width: 80%;
        }
    }

    &-right {
        width: 60%;
        padding: 30px 40px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h2 {
            font-size: 36px;
            color: #151875;
        }
        p {
            color: #8a8fb9;
            font-size: 16px;
            margin-top: -20px;
        }
        button {
            border: none;
            cursor: pointer;
            width: 140px;
            height: 40px;
            border-radius: 3px;
            background-color: #fb2e86;
            color: white;
            font-weight: 500;
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 992px) {
        &-right {
            width: 100%;
            margin-left: 0;
            padding: 20px 10px;
        }
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background-color: gray;
        padding: 30px 50px;
        text-align: center;
        @media screen and (max-width: 992px) {
            padding: 20px 30px;
        }
        h3 {
            font-size: 42px;
            font-weight: bold;
        }
        p {
            color: rgba(26, 11, 91, 0.3);
        }

        &-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            //background-color: red;
            padding: 10px 20px;
        }

        &-card {
            width: 200px;
            height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
            //background-color: green;
            padding: 20px 5px;
            box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
            cursor: pointer;
            h5 {
                font-size: 18px;
                font-weight: 400;
                color: #151875;
            }
            &:nth-child(2) {
                border-bottom: 2px solid #ff9100;
            }
            &:hover {
                border-bottom: 2px solid #ff9100;
            }

            @media screen and (max-width: 992px) {
                margin: 10px;
            }
        }
    }
}
