.footer {
  width: 100%;
  height: 300px;
  background-color: #eeeffb;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}
